---
import { slugify } from '@utils/slugs'

interface Props {
  path: string
  label: string
  isActive: boolean
}

const { path, label, isActive } = Astro.props

const className = isActive
  ? 'bg-slate-50 text-amber-500 shadow-sm shadow-amber-100/50 ring-1 ring-slate-900/5'
  : 'bg-white text-slate-700 duration-200 ease-in-out hover:bg-slate-50/95'
---

<li>
  <a
    href={path}
    class:list={[
      'inline-block rounded-full px-5 py-1.5 text-md font-medium transition',
      className,
    ]}
  >
    {label}
  </a>
</li>
